Source: leveltemplate
Section: user/games
Priority: extra
Maintainer: Forum Nokia <FN.Documentation@nokia.com>
Standards-Version: 3.7.2

Package: leveltemplate
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QuickHit - Level Template
 QuickHit - Level Template
